{% extends 'master.html' %}
{% block title %}Check Car Avlb{% endblock %}
{% block pageTitle %}Check Car Avlb{% endblock %}
{% block logout %}
{% load static %}
<a href="logout/"><img style="height:40px;width:40px" src="{% static 'assets/media/icons/logout.jpeg' %}"
    alt="logout" /></a>
{% endblock %}

{% block content %}
{% load static %}
<div class="row gy-5 g-xl-10">
  <!--begin::Col-->
  <div class="col-xl-12 mb-5 mb-xl-5">
    <!--begin::Table Widget 4-->
    <div class="card card-flush h-xl-100">
      <!--begin::Card header-->
      <div class="card-header pt-7">
        <!--begin::Title-->
        <h2 class="card-title align-items-start flex-column">
          {{ success }}
          {{ error }}
        </h2>
        <!--end::Title-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-2">
        <table class="table table-hover table-dark">
          <thead>
            <tr class="fw-bold">
              <th>Car</th>
              <th>Color</th>
              <th>Capacity</th>
              <th>Description</th>
              <th>Rent</th>
              <th>discount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <form action="/employee/finalizebooking/" method="post">
              {% csrf_token %}
            {% for car in cars %}
            <tr>
              <td>{{car.car_name}}</td>
              <td>{{car.color}}</td>
              <td>{{car.capacity}} Seats</td>
              <td>{{car.description}}</td>
              <td>$ {{car.rent}}</td>
              <td><input type="text" class="form-control" name="discount" id="discount" placeholder="apply discount">
              </td>
              <td>
                  <input type="hidden" name="id" value="{{car.id}}">
                  <input type="hidden" name="booking_id" value="{{car.booking_id}}">
                  <input class="btn btn-warning btn-sm m-1 text-dark" type="submit" value="Assign Car">
              </td>
            </form>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <!--end::Card body-->
  </div>
  <!--end::Table Widget 4-->
</div>
<!--end::Col-->
</div>
{% endblock %}